.contact {
    .hero-heading {
        text-align: left;
    }
    .pricing-description {
        text-align: left;
        font-size: 14px;
        margin-bottom: 0;
        @include mq(desktop) {
            font-size: 18px;
        }
    }
    .section-address {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0px;
        position: relative;
        flex-direction: column;
        @include mq(desktop) {
            padding: 150px 0px;
            flex-direction: row;
        }
    }
    .map {
        height: 300px;
        width: 100%;
        @include mq(desktop) {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .contact-info {
        .hero-heading {
            font-size: 18px;
            margin-bottom: 10px;
            @include mq(desktop) {
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
        .pricing-description {
            font-size: 14px;
            margin-bottom: 0;
            @include mq(desktop) {
                font-size: 18px;
            }
        }
    }
    .section-form {
        .form-control {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #DCDCDC;
        }
    }
}